h2{
    position: absolute;
    transform: translate(20px, -130px);
}
.text-box{
    display: none;
}
.bg{
    width: 1920px;
    height: 842px;
    background: url(../../../images/editbackground.png);
}