.nhanvien-list{
    li{
        margin-left: 25px;
        width: 1850px;
        font-size: 24px;
        hr{
            margin-top: 20px;
            margin-left: 25px;
            width: 1850px;
            color: #C4C4C4;
        }
    }
}