.nhanvien-info{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1820px;
    .nhanvien-name{
        position: relative;
        left: 0px;
        transform: translateX(-150px);
    }
    .btn-edit-delete{
        display: flex;
        justify-content: space-between;
        width: 100px;
        li{
            font-size: 18px;
            cursor: pointer;
            a{
                &:hover{
                    color: #09a6FF;
                }
            }
        }
    }
}