.info-bar{
    margin-left: 50px;
    width: 1850px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        font-size: 24px;
    }
    .nhanvien-name{
        position: relative;
        left: 0px;
        transform: translateX(-70px);
    }
    .nhanvien-office{
        margin-left: 50px;
    }
    .nhanvien-chucvu{
        position: relative;
        left: 0px;
        transform: translateX(-80px);
    }
    .nhanvien-email{
        position: relative;
        left: 0px;
        transform: translateX(-70px);
    }
    .sdt{
        position: relative;
        left: 0px;
        transform: translateX(-50px);
    }
    .btn-add{
        width: 120px;
        height: 80px;
        border: 1px #0EFC25;
        border-radius: 4px;
        background-color: #0EFC25;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        cursor: pointer;
    }
}