
.Edit-list{
    display: flex;
    align-items: center;
    .edit-info{
        padding: 40px;
        li{
            padding-bottom: 25px;

            font-size: 24px;
        }
    }
    .input-info{
        padding: 40px;
        input{
            padding: 5px;
            margin-bottom: 20px;
            border: 1px solid #333;
            display: block;
            font-size: 24px;
        }
    }
}