.user-info{
    margin-top: 20px;
    display: inline-flex;
    width: 1820px;
    .user-name{
        position: relative;
        left: 0px;
        transform: translateX(-150px);
    }
    .btn-edit-delete{
        display: flex;
        justify-content: space-between;
        width: 100px;
        padding-left: 30px;
        li{
            font-size: 18px;
            cursor: pointer;
            a{
                color: #C4C4C4;
                &:hover{
                    color: #09a6FF;
                }
            }
        }
    }
}