*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, 
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
input{
    outline: none;
    border: none;
}

button{
    background: none;
    outline: none;
    border: none;
}
.status{
    position: absolute;
    transform: translate(20px, -130px);
}

hr{
    margin-top: 20px;
    margin-left: 50px;
    width: 1850px;
    color: #C4C4C4;
}


