*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, 
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
input{
    outline: none;
    border: none;
}

button{
    background: none;
    outline: none;
    border: none;
}
.header-menu{
    background: #09a6ff;
    height: 100px;
    width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-menu{
        display: flex;
        li{
            margin-left: 20px;
            &:hover{
                >.dropdown{
                    display: block;
                }
                >.dropdown-chamcong{
                    display: block;
                }
            }
            >.dropdown{
                position: absolute;
                background-color: white;
                width: 300px;
                height: 190px;
                z-index: 999;
                transform: translateX(-150px);
                display: none;
                >li{
                    height: 95px;
                    width: 300px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translateX(-20px);
                    a{
                        color: black;
                    }
                    &:hover{
                        background-color: #0A72ED;
                    }
                }
            }
            >.dropdown-chamcong{
                position: absolute;
                background-color: white;
                width: 300px;
                height: 190px;
                z-index: 999;
                transform: translateX(-150px);
                display: none;
                >li{
                    height: 95px;
                    width: 300px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translateX(-20px);
                    a{
                        color: black;
                    }
                    &:hover{
                        background-color: #0A72ED;
                    }
                }
            }
            a{
                color: white;
                font-size: 24px;
                &:hover{
                    color: red;
                }
            }
        }
    }
    .right-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        li{
            margin-left: 10px;
            &:hover{
                >.dropdown{
                    display: block;
                }
            }
            >.dropdown{
                position: absolute;
                background-color: white;
                width: 200px;
                height: 120px;
                z-index: 999;
                transform: translateX(-180px);
                display: none;
                >li{
                    height: 60px;
                    width: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translateX(-10px);
                    a{
                        color: black;
                    }
                    &:hover{
                        background-color: #0A72ED;
                    }
                }
            }
            a{
                color: white;
                font-size: 24px;
                &:hover{
                    color: red;
                }
            }
        }
    }
}
.container2{
    height: 135px;
    background-color: #C4C4C4;
    position: relative;
    .text-box{
        position: absolute;
        background: white;
        width: 190px;        
        bottom: 0;
        transform: translateX(100px);
        p{
            height: 65px;
            color: black;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
