.home-login{
  width: 1920px;
  height: 1080px; //view height 
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../Img/homeLogin.png);
  .base-container{
    width: 400px;
    height: 500px;
    background: #DEE1E6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .content{
      margin-bottom: 40px;
      img{
        width: 70%;
      }
      .app-name{
        font-weight: bold;
        font-size: 20px;
      }

      .form{
        margin-top: 20px;
        .form-group{
          label{
            display: block;
            margin-bottom: 5px;
          }
        }
        button{
          display: block;
          margin-left: 70px;
          margin-top: 20px;
          padding: 5px 20px;
          background: #56C1FE;
          border-radius: 3px;
          outline: none;
          cursor: pointer;
        }
        a{
          display: block;
          margin-top: 10px;
          color: #06A1F8;
          
        }
      }
    }
  }
}